/* stylelint-disable-next-line import-notation */
@import 'tailwindcss';

@font-face {
  font-family: Aldrich;
  src: url('/Astro-TNO/font/Aldrich-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: fzrzhm;
  src: url('/Astro-TNO/font/fzzhengheis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-teal-600);
}

* {
  cursor: url('/Astro-TNO/cursor/exploration.png'), auto;
}

html {
  font-family: Aldrich, fzrzhm, sans-serif;
  color: var(--color-mist-300);
  cursor: url('/Astro-TNO/cursor/exploration.png'), auto;
  background: repeating-linear-gradient(
    to bottom,
    rgb(6 16 23) 0,
    rgb(6 16 23) 5px,
    rgb(5 18 21) 5px,
    rgb(5 18 21) 7px,
    rgb(6 16 23) 7px,
    rgb(6 16 23) 11px,
    rgb(5 18 21) 11px,
    rgb(5 18 21) 14px
  );
}

a,
a * {
  cursor: url('/Astro-TNO/cursor/attack_move.png'), pointer;
}

.nav-item {
  @apply flex flex-1 flex-col gap-2 py-4 outline-1 outline-mist-500 transition outline-solid text-shadow-teal-400/80 hover:text-teal-500 hover:outline-mist-100 hover:text-shadow-[0_0_3px];
}
