---
import '../styles/global.css'
import Header from '../layouts/Header.astro'
---

<!doctype html>
<html lang="zh-CN" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>TNO Cities Archive</title>
  </head>
  <body class="flex h-full flex-col">
    <Header />
    <main class="flex h-full flex-col items-center gap-8 overflow-y-auto py-4">
      <section class="flex flex-col gap-8">
        <header class="flex flex-col gap-4">
          <a
            href="https://steamcommunity.com/sharedfiles/filedetails/?id=2438003901"
            class="w-100 self-center"
            target="_blank"
            aria-label="Steam"
          >
            <img src="/Astro-TNO//The_New_Order_Logo.png" alt="The_New_Order_Logo" />
          </a>
          <div class="flex flex-row items-end gap-4">
            <h1
              class="inline text-4xl font-bold tracking-wider text-teal-500 text-shadow-[0_0_0.5rem] text-shadow-teal-400/80"
            >
              The Ner Order
            </h1><span class="inline text-xl text-mist-400">Cities Archive</span>
          </div>

          <p
            class="self-end text-sm tracking-[0.2rem] text-mist-500"
            aria-label="CLASSIFIED ARCHIVE · 1962"
          >
            {
              'CLASSIFIED ARCHIVE · 1962'
                .split('')
                .map((char, i) => (
                  <span
                    class={`inline-block ${i % 2 === 0 ? '-translate-y-px' : 'translate-y-px'}`}
                  >
                    {char === ' ' ? '\u00A0' : char}
                  </span>
                ))
            }
          </p>
        </header>

        <article
          class="flex max-w-3xl flex-col gap-2 border-y border-mist-800 py-8 indent-8 leading-relaxed text-mist-300"
        >
          <p>这不是一个稳定的世界。</p>
          <p>
            1962年，秩序仍在运转，但其根基早已动摇。德意志、日本与美利坚维持着一种脆弱的均衡——它并非和平，只是尚未失控。
          </p>
          <p>
            本站收录该世界观下重要城市的介绍，从权力中心到边缘殖民地。每一座城市，都是秩序崩塌与权力运作的缩影。
          </p>
        </article>

        <div class="flex flex-row items-center gap-8 pl-4">
          <a
            href={`${import.meta.env.BASE_URL}1`}
            class="border border-mist-500 px-6 py-3 text-mist-200 transition hover:border-teal-500 hover:bg-mist-800/30"
          >
            ▶ 进入档案
          </a>
          <a
            href={`${import.meta.env.BASE_URL}About`}
            class="text-mist-500 underline-offset-4 hover:underline"
          >
            关于此模组
          </a>
        </div>

        <div class="grid"></div>
        <footer
          class="grid max-w-3xl gap-4 border-t border-mist-800 pt-4 text-sm text-mist-400 md:grid-cols-3"
        >
          <div class="border border-mist-800 p-3">
            <p class="text-mist-500">TYPE</p>
            <p>世界观档案</p>
          </div>

          <div class="border border-mist-800 p-3">
            <p class="text-mist-500">SOURCE</p>
            <p>TNO 模组文本</p>
          </div>

          <div class="border border-mist-800 p-3">
            <p class="text-mist-500">STATUS</p>
            <p>非官方项目</p>
          </div>
        </footer>
      </section>
    </main>
  </body>
</html>
