---
import { getRelativeLocaleUrl } from 'astro:i18n'
import zh from '@/json/zh.json'
import en from '@/json/en.json'
const lang = Astro.currentLocale ?? 'zh'
const data = lang === 'en' ? en : zh
const { id } = Astro.params
---

<aside
  data-aside-scroll
  class="fixed left-0 h-full w-[60%] -translate-x-full overflow-y-auto overscroll-contain border-r bg-black py-6 pl-4 text-lg transition-transform md:w-52 md:translate-0"
>
  <ul>
    {
      data.map((item) => (
        <li class:list={{ 'my-1 bg-teal-600 py-1 pl-2': id === item.id.toString() }}>
          <a
            href={getRelativeLocaleUrl(lang, `/${item.id}`)}
            class:list={[
              'block',
              id === item.id.toString()
                ? 'text-xl text-black'
                : 'text-teal-500 text-shadow-teal-400/80 hover:text-shadow-[0_0_3px]',
            ]}
          >
            {item.name.default}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
