<footer class="bg-teal-950 py-2">
  <ul class="flex flex-row justify-evenly">
    <li>
      <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2438003901" target="_blank">
        Steam
      </a>
    </li>
    <li>
      <a href="https://tno.wiki/wiki/TNOpediA" target="_blank">TNOpediA</a>
    </li>
  </ul>
</footer>
