---
import { AstroIcon, Github } from '../components/svg/index.astro'
---

<header class="flex flex-row items-center justify-between gap-4 bg-teal-950 px-4 py-2">
  <div class="flex flex-row items-center gap-2">
    <a href="https://tno.wiki/" target="_blank">
      <img src="The_New_Order_Logo.png" alt="The_New_Order_Logo" class="h-8" />
    </a>
    <span>/</span>
    <a href="https://github.com/AaaRynt/Astro-TNO" target="_blank">
      <Github />
    </a>
    <span>/</span>
    <a href="https://astro.build/" target="_blank">
      <AstroIcon />
    </a>
  </div>
  <!-- <input type="text" class="rounded-sm outline-1" /> -->
  <div class="flex flex-row gap-2">
    <select name="pets">
      <option value="zh">简体中文</option>
      <option value="en">English</option>
    </select>
    <a href="About" class="hover:underline">About this mod</a>
  </div>
</header>
