---
import { Github, Languages } from '../components/svg/index.astro'
---

<header class="flex flex-row items-center justify-between gap-4 bg-teal-950 px-4 py-2">
  <div class="flex flex-row items-center gap-2">
    <a href="/Astro-TNO/" class="hover:underline">HOME</a>
    <span class="text-teal-400">/</span>
    <a href="https://github.com/AaaRynt/Astro-TNO" target="_blank" aria-label="GitHub">
      <Github />
    </a>
  </div>
  <!-- <input type="text" class="rounded-sm outline-1" /> -->
  <div class="flex flex-row items-center gap-2">
    <Languages />
    <select name="pets">
      <option value="zh">简体中文</option>
      <option value="en">English</option>
    </select>
    <a href="https://tno.wiki/wiki/TNOpediA" target="_blank" aria-label="TNOpediA">
      <img src="/Astro-TNO//TNOpediA_Logo.png" alt="The New Order Logo" class="h-8" />
    </a>
  </div>
</header>
