---
import '../styles/global.css'
import Header from './Header.astro'
import Footer from '../layouts/Footer.astro'
import Aside from './Aside.astro'
---

<!doctype html>
<html lang="zh-CN" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="flex h-full flex-col">
    <Header />
    <main class="flex min-h-0 flex-1 flex-row items-stretch">
      <Aside />
      <slot />
    </main>
    <Footer />
  </body>
</html>
