---
import '@/styles/global.css'
import Header from './Header.astro'
import Aside from './Aside.astro'
---

<!doctype html>
<html lang="zh-CN" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Astro-TNO//favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="flex h-full flex-col">
    <Header />
    <main class="relative flex min-h-0 w-full flex-1 justify-center">
      <button
        id="aside-toggle"
        class="fixed right-4 bottom-6 size-8 border border-mist-400 text-teal-600 md:hidden"
      >
        ☰
      </button>
      <div id="aside-mask" class="fixed inset-0 hidden md:hidden"></div>
      <Aside />
      <slot />
    </main>
    <script is:inline>
      const aside = document.querySelector('aside'),
        mask = document.querySelector('#aside-mask'),
        btn = document.querySelector('#aside-toggle')
      btn?.addEventListener('click', () => {
        aside?.classList.remove('-translate-x-full')
        mask?.classList.remove('hidden')
      })
      mask?.addEventListener('click', () => {
        aside?.classList.add('-translate-x-full')
        mask?.classList.add('hidden')
      })
    </script>
  </body>
</html>
